# Fichiers de logs
*.log

# Fichiers temporaires
*.tmp

# Fichiers système
.DS_Store

# Fichiers de cache
/node_modules
/packages

# Fichiers compilés
*.o
*.pyc
*.class

# Répertoires de sortie de build
/bin
/out
/target

# Fichiers de configuration IDE personnels
.idea/workspace.xml

# Fichiers de gestion git-manager
admin/git-api.php
admin/git-config.php
admin/git-manager.html
admin/git-clone.html
admin/git-reset-remote.html
